body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    margin-top: 10px;
    margin-left: 10px;
}

label{
    display: inline-block;
    margin-left: 10px;
}

input[type="number"]{
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

#resultado{
    font-size: 20px;
    font-weight: bold;
    color: #f00;
    margin-top: 20px;
    margin-left: 10px;
}